// Base Code
////////////
body { 
 font-family: 'Source Sans Pro', sans-serif;
 background: url('../../assets/img/background.jpg') top center no-repeat;
}
.container {
  margin:0 auto;
  max-width:1200px;
}

@font-face {
  font-family: 'FeltpenCom-Medium';
  src: url('fonts/FeltpenCom-Medium.eot?#iefix') format('embedded-opentype'),  url('fonts/FeltpenCom-Medium.woff') format('woff'), url('fonts/FeltpenCom-Medium.ttf')  format('truetype'), url('fonts/FeltpenCom-Medium.svg#FeltpenCom-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
